html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Tahoma' ,sans-serif;
    direction: rtl;
    background: #f8f5f2;
    color: #333;
    line-height: 1.6;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: #3e2723;
    color: white;
}


.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-text h1{
    margin: 0;
    font-size: 22px;
}
.header-text p{
    margin: 5px 0 0;
    font-size: 14px;
}
.logo{
    width: 60px;
    height: auto;
}
.logo img {
    width: 70px;
    height: auto;
    max-width: 100%;
}

/* Section */
.section{
    padding: 40px 20px;
    text-align: center;
}
.section.light {
    background: white;
}

h2{
    margin-bottom: 20px;
}

/* products */
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    gap: 20px;
}

.card{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    transition: transform .3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;

}
.card h2{
    margin: 10px 0;
    font-size: 1.3em;
    color: #333;
}

.card p{
    font-size: 0.95m;
    color: #666;
    margin-bottom:10px ;
}

.card span{
    font-weight: bold ;
    color: #d2691e;
}

.floating-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

#menu {
    background: #d2691e;
    color: white;
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.menuItems {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
}

.menuItems a{
    
    background: white;
    padding: 10px ;
    margin: 5px 0;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.menuItems a:hover{
    background: #ffe4c4;
}

.whatsapp{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: #25d366;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    font-size: 28px;

}

.fade{
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s;
}
.fade.show {
    opacity: 1;
    transform: translateY(0);
}

.slider img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    background-color: #522017;
}


footer{
    text-align: center;
    padding: 20px;
    background: #3e2723;
    margin-top: 40px;
    font-size: 0.9em;
    color: #cecdcd;
}

@media(max-width: 600px){
    .header {
        flex-direction: column;
    }
    .logo img {
        width: 60px;
    }
}