*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tahoma' ,sans-serif;
    background: #f8f5f2;
    color: #333;
    line-height: 1.6;
}

header{
    text-align: center;
    padding: 30px 20px;
    background: #ffe4c4;
}

.header h1{
    font-size: 2.2em;
}

.header p{
    font-size: 1.1em;
    color: #555;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background: #ffe4c4;
}
.logo img {
    width: 70px;
    height: auto;
    max-width: 100%;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    gap: 20px;
    padding: 20px;
}

.card{
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ,box-shadow 0.2s;
}

.card:hover{
    transform: translate(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
.card img{
    width: 100%;
    border-radius: 10px;

}
.card h2{
    margin: 10px 0;
    font-size: 1.3em;
    color: #333;
}

.card p{
    font-size: 0.95m;
    color: #666;
    margin-bottom:10px ;
}

.card span{
    font-weight: bold ;
    color: #d2691e;
}

footer{
    text-align: center;
    padding: 20px;
    background: #ffe4c4;
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}

@media(max-width: 600px){
    .header {
        flex-direction: column;
    }
    .logo img {
        width: 60px;
    }
}